@import "../../assets/styles/setup/mixins";
@import "../../assets/styles/setup/variables";
@import "../../assets/styles/setup/functions";
.app-header{
    background:linear-gradient(143.27deg, rgb(0, 94, 166) 0%, rgb(21, 70, 160) 100%);
    height: 58px;
    margin-bottom: 60px;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        img{
            object-fit: contain;
           width:125px
        }
    }
    ul{
        li{
            &:not(:last-of-type){
                margin-inline-end: 4rem;
            }
        }
        a{
            font-size: 14px;
            font-weight: 400;
            color:white;
            transition: .2s;
            &:hover{
                opacity: 0.5;
            }
            &.active{
                opacity: 0.65;
            }
        }
    }
    .profile{
        a{
            span{
                padding:0 rem(12px)
            }
         margin-inline-start: rem(24px);
        }
        hr{
            width: 1px;
            height: 20px;
            line-height: 20px;
        }
       img{
            background-color: #018065;
            border-radius: 50%;
            display: inline;
            width: 24px;
            height: 24px;
        }
       
    }
}