@import "../../assets/styles/setup/mixins";
@import "../../assets/styles/setup/variables";
@import "../../assets/styles/setup/functions";
.home {
   justify-content: center;
   display: grid;
   grid-template-columns: 350px 1fr;
   column-gap: rem(24px);
   .balance-info {
      @include border1;
      background-color: $clr3;
      padding: 24px;
      width: 350px;
      margin-bottom:rem(24px);
      &+h3{
         margin-bottom: rem(24px);
      }
      &.lg{
         height: 215px;
         span{
            font-size: 40px;
         }
      }
      h3 {
         margin-bottom: 1rem;
         line-height: 24px;
         font-size: 18px;
      }
      span {
         font-size: 28px;
         font-weight: 100;
         color: #000000b8;
         margin-bottom: 0.4rem;
      }
      i {
         color: #687173;
         text-decoration: none;
         font-style: normal;
         font-size: 14px;
         font-weight: 100;
         flex-grow: 1;
      }
      button {
         background-color: $clr4;
         @include btn1;
         align-self: flex-start;
         padding: 7px 30px;
      }
   }
   .main-chart{
      padding: rem(25px);
      margin-bottom: rem(24px);
      @include border1;
      background-color: #fff;
      header{
          
         margin-bottom: 1rem;
         h3{
            @include title1;
         }
         span{
            @include subtitle1;
         }
      }
   }
}
