// Colors
$clr1: #F5F7FA;
$clr2:#2c2e2f;
$clr3:white;
$clr4:#0070ba;
$clr5:#cbd2d6;
$clr6:#CA0B00;


// BackgroundColors
$grad1:linear-gradient(143.27deg, rgb(0, 94, 166) 0%, rgb(21, 70, 160) 100%);

// Border radius
$borderRad1:4px; 
$boxShadow:0px 1px 4px 0px rgb(0 0 0 / 0.08);

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 640px;
$details-breakpoint: 784px;
$dashboard-breakpoint: 830px;
$normal-breakpoint: 860px;
$wide-breakpoint:1096px;
$header-breakbpoint: 760px;

