@import "../../assets/styles/setup/mixins";
@import "../../assets/styles/setup/variables";
@import "../../assets/styles/setup/functions";
.contact-filter{
    display: flex;
    input{
        align-self: flex-end;
        border: none;
        border-bottom: 1px solid $clr5;
        width:250px;
        padding: 6px 8px;
        font-size: 16px;
    }
}