@import "../../assets/styles/setup/mixins";
@import "../../assets/styles/setup/variables";
@import "../../assets/styles/setup/functions";
.dashboard{
    .chart{
        @include border1;
        padding: rem(24px);
        margin-bottom: rem(24px);
        min-height: 350px;
        background-color: white;
        h3{
            @include title1;
        }
        span{
            @include subtitle1;
        }
    }
}